<div class="mt-4">
    <h3>Đăng video</h3>
    <form method="POST" action="/courses/store" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Tên video</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="form-group">
            <label for="videoId">Ảnh</label>
            <input type="file" class="form-control-file" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Thêm video</button>
    </form>
</div>