<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button style="margin-bottom: 27px;">TRANG CHỦ</button>
            <div></div>
            <button style="margin-bottom: 27px;">KHÁM PHÁ</button>
            <div></div>
            <button style="margin-bottom: 27px;">KÊNH ĐĂNG KÍ</button>
            <div></div>
            <button style="margin-bottom: 27px;">THƯ VIỆN</button>
            <div></div>
            <button style="margin-bottom: 27px;">VIDEO ĐÃ XEM</button>
            <div></div>
            <button style="margin-bottom: 27px;">VIDEO CỦA BẠN</button>
            <div></div>
            <button style="margin-bottom: 27px;">VIDEO ĐÃ THÍCH</button>
            <div></div>
            <button style="margin-bottom: 27px;">THÊM</button>
            <div></div>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>